<!DOCTYPE html>
<html>
  
  <head>
    
    <meta charset="utf-8">
    <style>
      body {
      font-family: "Arial", sans-serif;
      }

      .bar {
      fill: #18BC9C;
      }

      .axis {
      font-size: 13px;
      }

      .axis path,
      .axis line {
      fill: none;
      display: none;
      }

      .label {
      font-size: 13px;
      }
    </style>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">

    <!-- Theme CSS -->
    <link href="{{ url_for('static', filename='freelancer.min.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>
  
  <body id="page-top" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
      <div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="/#page-top">Death Statistics</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li class="page-scroll">
              <a href="/#map">Map</a>
            </li>
            <li class="page-scroll">
              <a href="/#comparisons">Comparisons</a>
            </li>
            <li class="page-scroll">
              <a href="/#credits">Credits</a>
            </li>
          </ul>
	</div>
	<!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>


    
    <!-- Header -->
    <header>
      <div class="container">
	<div class="row">
          <div class="col-lg-12">
            <div class="intro-text">
              <span class="name">Comparing {{state1}} and {{state2}} Deaths</span>
              <hr class="star-light">
              <span class="skills">2016</span>
            </div>
          </div>
	</div>
      </div>
    </header>

    <!-- Map Section -->
    
    <section id="bars">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Top Causes of Death Per 100K 2016</h2>
          <hr class="star-light" style="border-color: #000000">
        </div>
      </div>

      <div class="col-lg-10 col-lg-offset-2" id="graphic"></div>

    </section>

    

    <script type="text/javascript" src="{{ url_for('static', filename='uStates.js') }}"></script><!-- creates uStates. -->
    <script src="{{ url_for('static', filename='d3.v3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js.js') }}"></script>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="{{ url_for('static', filename='freelancer.min.js') }}"></script>
    
    <script>
        console.log(state1data);
	console.log(state2data);
  var state1data = [
    {% for cause in causes1 %}
    {
      "name": "{{cause[0]}}",
      "value": {{cause[5]}},
    },
    {% endfor %}
  ];

  var state2data = [
    {% for cause in causes2 %}
    {
      "name": "{{cause[0]}}",
      "value": {{cause[5]}},
    },
    {% endfor %}
  ];

//keeping only 5 cuases of death because not all states have the same leading 10 causes of death.
  for(i = state1data.length - 1; i >= 0; i--){
    if((state1data[i]["name"] != "Heart Disease") && (state1data[i]["name"] != "Stroke") && (state1data[i]["name"] != "Cancer") && (state1data[i]["name"] !="Chronic Lower Respiratory Disease") && (state1data[i]["name"] != "Accidents")){
      state1data.splice(i,1);
    }
  }

  for(i = state2data.length - 1; i >= 0; i--){
    if((state2data[i]["name"] != "Heart Disease") && (state2data[i]["name"] != "Stroke") && (state2data[i]["name"] != "Cancer") && (state2data[i]["name"] !="Chronic Lower Respiratory Disease") && (state2data[i]["name"] != "Accidents")){
      state2data.splice(i,1);
    }
  }

  //sorts data alphabetically so indexes will not be confused later on
  state1data.sort(function (a, b) {
  var textA = a.name.toUpperCase();
  var textB = b.name.toUpperCase();
  return textA.localeCompare(textB);
  });

  state2data.sort(function (a, b) {
  var textA = a.name.toUpperCase();
  var textB = b.name.toUpperCase();
  return textA.localeCompare(textB);
  });

  var stateNames = ["{{state1}}" , "{{state2}}"];
  var callbackData = new Array(5);
  for(i = 0; i < callbackData.length; i++){
    callbackData[i] = {
      name: state1data[i]["name"],
      {{state1}}: state1data[i]["value"],
      {{state2}}: state2data[i]["value"]
  }
};

callbackData.forEach(function(d) {
  d.states = stateNames.map(function(name) { return {name: name, value: +d[name]}; });
});

  var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

  //each cause of death
  var x0 = d3.scale.ordinal()
    .rangeRoundBands([0,width], .1);
  //each state
  var x1=d3.scale.ordinal();
  //number of Deaths
  var y = d3.scale.linear()
    .range([height,0]);

  var color = d3.scale.ordinal()
    .range(["#b0c4de", "#DEB0C4"]);

  var xAxis = d3.svg.axis()
    .scale(x0)
    .orient("bottom");

  var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .tickFormat(d3.format(".3s"));

  var svg = d3.select("#graphic").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  document.getElementsByTagName("svg")[0].setAttribute("style", "padding-left: 1%;");

  x0.domain(callbackData.map(function(d) {return d.name;}));
  x1.domain(stateNames).rangeRoundBands([0, x0.rangeBand()]);
  y.domain([0, d3.max(callbackData, function(d) { return d3.max(d.states, function(d) { return d.value; }); })]);

  svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

  svg.append("g")
    .attr("class", "y axis")
    .call(yAxis)
  .append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 6)
    .attr("dy", ".71em")
    .style("text-anchor", "end")
    .text("Deaths");

    var causeDeath = svg.selectAll(".causeDeath")
        .data(callbackData)
      .enter().append("g")
        .attr("class", "g")
        .attr("transform", function(d) { return "translate(" + x0(d.name) + ",0)"; });

    causeDeath.selectAll("rect")
        .data(function(d) { return d.states; })
      .enter().append("rect")
        .attr("width", x1.rangeBand())
        .attr("x", function(d) { return x1(d.name); })
        .attr("y", function(d) { return y(d.value); })
        .attr("height", function(d) { return height - y(d.value); })
        .style("fill", function(d) { return color(d.name); });

    var legend = svg.selectAll(".legend")
        .data(stateNames.slice().reverse())
      .enter().append("g")
        .attr("class", "legend")
        .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

    legend.append("rect")
      .attr("x", width - 18)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", color);

    legend.append("text")
      .attr("x", width - 24)
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .text(function(d) { return d; });

  </script>

  </body>

</html>
