<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
</head>
<body>
  <h1> Firearm Mortality by State (2016) </h1>
      <div id="tooltip"></div><!-- div to hold tooltip. -->
      <svg width="960" height="600" id="statesvg"></svg> <!-- svg to hold the map. -->
      <h3> Select a state from each dropdown menu to compare! </h3>
	  <br>
	  <div class="row">
      <div class="col-md-3">
        <select class="form-control">
          <option>AK</option>
          <option>AL</option>
          <option>AR</option>
          <option>AZ</option>
          <option>CA</option>
          <option>CO</option>
          <option>CT</option>
          <option>DE</option>
          <option>FL</option>
          <option>GA</option>
          <option>HI</option>
          <option>IA</option>
          <option>ID</option>
          <option>IL</option>
          <option>IN</option>
          <option>KS</option>
          <option>KY</option>
          <option>LA</option>
          <option>MA</option>
          <option>MD</option>
          <option>ME</option>
          <option>MI</option>
          <option>MN</option>
          <option>MO</option>
          <option>MS</option>
          <option>MT</option>
          <option>NC</option>
          <option>ND</option>
          <option>NE</option>
          <option>NH</option>
          <option>NJ</option>
          <option>NM</option>
          <option>NV</option>
          <option>NY</option>
          <option>OH</option>
          <option>OK</option>
          <option>OR</option>
          <option>PA</option>
          <option>RI</option>
          <option>SC</option>
          <option>SD</option>
          <option>TN</option>
          <option>TX</option>
          <option>UT</option>
          <option>VA</option>
          <option>VT</option>
          <option>WA</option>
          <option>WI</option>
          <option>WV</option>
          <option>WY</option>
        </select>
      </div>
      <div class="col-md-3 text-center">
        <br>
        <br>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
      <div class="col-md-3">
        <select class="form-control">
          <option>AK</option>
          <option>AL</option>
          <option>AR</option>
          <option>AZ</option>
          <option>CA</option>
          <option>CO</option>
          <option>CT</option>
          <option>DE</option>
          <option>FL</option>
          <option>GA</option>
          <option>HI</option>
          <option>IA</option>
          <option>ID</option>
          <option>IL</option>
          <option>IN</option>
          <option>KS</option>
          <option>KY</option>
          <option>LA</option>
          <option>MA</option>
          <option>MD</option>
          <option>ME</option>
          <option>MI</option>
          <option>MN</option>
          <option>MO</option>
          <option>MS</option>
          <option>MT</option>
          <option>NC</option>
          <option>ND</option>
          <option>NE</option>
          <option>NH</option>
          <option>NJ</option>
          <option>NM</option>
          <option>NV</option>
          <option>NY</option>
          <option>OH</option>
          <option>OK</option>
          <option>OR</option>
          <option>PA</option>
          <option>RI</option>
          <option>SC</option>
          <option>SD</option>
          <option>TN</option>
          <option>TX</option>
          <option>UT</option>
          <option>VA</option>
          <option>VT</option>
          <option>WA</option>
          <option>WI</option>
          <option>WV</option>
          <option>WY</option>
        </select>
      </div>
    </div>
</div>
  <script type="text/javascript" src="{{ url_for('static', filename='uStates.js') }}"></script><!-- creates uStates. -->
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js.js') }}"></script>
</body>
</html>
