<!DOCTYPE html>
<html>
  
  <head>
    
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">

    <!-- Theme CSS -->
    <link href="{{ url_for('static', filename='freelancer.min.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>
  
  <body id="page-top" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
      <div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="#page-top">Death Statistics</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li class="page-scroll">
              <a href="#map">Map</a>
            </li>
            <li class="page-scroll">
              <a href="#comparisons">Comparisons</a>
            </li>
            <li class="page-scroll">
              <a href="#credits">Credits</a>
            </li>
          </ul>
	</div>
	<!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>


    
    <!-- Header -->
    <header>
      <div class="container">
	<div class="row">
          <div class="col-lg-12">
            <img class="img-responsive" src="{{ url_for('static', filename='img/skull.png') }}" alt="">
            <div class="intro-text">
              <span class="name">Death Statistics with D3</span>
              <hr class="star-light">
              <span class="skills">By Team Death: Md Abedin, Xavier Chen, Sasha Fomina, Angelica Zverovich</span>
            </div>
          </div>
	</div>
      </div>
    </header>

    <!-- Map Section -->
    
    <section id="map">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Map</h2>
          <hr class="star-light" style="border-color: #000000">
        </div>
      </div>
      
      <h1 class="text-center"> Firearm Mortality by State (2016) </h1>
      <br>
      
      <div id="tooltip"></div><!-- div to hold tooltip. -->
      <svg class="center-block" width="960" height="600" id="statesvg"></svg> <!-- svg to hold the map. -->

    </section>

    <!-- Comparisons Section -->
    <section class="success" id="comparisons">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Comparisons</h2>
            <hr class="star-light">
          </div>
        </div>

	<h3 class="text-center"> Select a state from each dropdown menu to compare! </h3>
	<br>

	<div class="container">
	  <div class="row">
	    <div class="col-lg-6">
	      <form method="GET" action="/compare/">
		<select class="form-control" name="state1">
		  <option>AK</option>
		  <option>AL</option>
		  <option>AR</option>
		  <option>AZ</option>
		  <option>CA</option>
		  <option>CO</option>
		  <option>CT</option>
		  <option>DE</option>
		  <option>FL</option>
		  <option>GA</option>
		  <option>HI</option>
		  <option>IA</option>
		  <option>ID</option>
		  <option>IL</option>
		  <option>IN</option>
		  <option>KS</option>
		  <option>KY</option>
		  <option>LA</option>
		  <option>MA</option>
		  <option>MD</option>
		  <option>ME</option>
		  <option>MI</option>
		  <option>MN</option>
		  <option>MO</option>
		  <option>MS</option>
		  <option>MT</option>
		  <option>NC</option>
		  <option>ND</option>
		  <option>NE</option>
		  <option>NH</option>
		  <option>NJ</option>
		  <option>NM</option>
		  <option>NV</option>
		  <option>NY</option>
		  <option>OH</option>
		  <option>OK</option>
		  <option>OR</option>
		  <option>PA</option>
		  <option>RI</option>
		  <option>SC</option>
		  <option>SD</option>
		  <option>TN</option>
		  <option>TX</option>
		  <option>UT</option>
		  <option>VA</option>
		  <option>VT</option>
		  <option>WA</option>
		  <option>WI</option>
		  <option>WV</option>
		  <option>WY</option>
		</select>
	    </div>

	    <div class="col-lg-6">
	      <select class="form-control" name="state2">
		<option>AK</option>
		<option>AL</option>
		<option>AR</option>
		<option>AZ</option>
		<option>CA</option>
		<option>CO</option>
		<option>CT</option>
		<option>DE</option>
		<option>FL</option>
		<option>GA</option>
		<option>HI</option>
		<option>IA</option>
		<option>ID</option>
		<option>IL</option>
		<option>IN</option>
		<option>KS</option>
		<option>KY</option>
		<option>LA</option>
		<option>MA</option>
		<option>MD</option>
		<option>ME</option>
		<option>MI</option>
		<option>MN</option>
		<option>MO</option>
		<option>MS</option>
		<option>MT</option>
		<option>NC</option>
		<option>ND</option>
		<option>NE</option>
		<option>NH</option>
		<option>NJ</option>
		<option>NM</option>
		<option>NV</option>
		<option>NY</option>
		<option>OH</option>
		<option>OK</option>
		<option>OR</option>
		<option>PA</option>
		<option>RI</option>
		<option>SC</option>
		<option>SD</option>
		<option>TN</option>
		<option>TX</option>
		<option>UT</option>
		<option>VA</option>
		<option>VT</option>
		<option>WA</option>
		<option>WI</option>
		<option>WV</option>
		<option>WY</option>
	      </select>
	    </div>
	    
	  </div>
	  <br>
	  
	  <div class="text-center">
	    <input type="submit" class="btn btn-primary" value="Submit">
	  </div>

	  </form>
	</div>
	
    </section>

    <section id="credits">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Credits</h2>
          <hr class="star-light" style="border-color: #000000">
        </div>
      </div>

      <div class="col-lg-6 col-lg-offset-3">
	<h3>Team Members:</h3>
	<br>
	
	<ul>
	  <li><h4>Md Abedin: Data Parsing, Website Styling</h4></li>
	  <li><h4>Xavier Chen, Data Visualization, Website Styling</h4></li>
	  <li><h4>Sasha Fomina: Data Visualization</h4></li>
	  <li><h4>Angelica Zverovich: Project Manager</h4></li>
	</ul>

	<h3>Code:</h3>
	<br>
	
	<ul>
	  <li><h4><a href="https://d3js.org/">D3</a>: JS Data Visualization Library</h4></li>
	  <li><h4><a href="http://bl.ocks.org/NPashaP/a74faf20b492ad377312">uStates</a>: Interactive Map of US</h4></li>
	  <li><h4><a href="https://getbootstrap.com/">Bootstrap</a>: HTML Styling Framework</h4></li>
	</ul>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
      </div>
    </section>
    
    
    <script type="text/javascript" src="{{ url_for('static', filename='uStates.js') }}"></script><!-- creates uStates. -->
    <script src="{{ url_for('static', filename='d3.v3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js.js') }}"></script>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="{{ url_for('static', filename='freelancer.min.js') }}"></script>
    
  </body>

</html>
